<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MouseKeyHook" version="5.4.0" targetFramework="net452" />
  <package id="MSGReader" version="2.0.13" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NHotkey" version="1.2.1" targetFramework="net452" />
  <package id="NHotkey.WindowsForms" version="1.2.1" targetFramework="net452" />
  <package id="nucs.Automation" version="1.0.1.1" targetFramework="net452" />
  <package id="nucs.Filesystem" version="1.1.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net45" />
</packages>