<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="22.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="AutoCAD.NET.Core" version="22.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="AutoCAD.NET.Model" version="22.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="AutoCAD-2017.Net.Interop.x86" version="1.0.0" targetFramework="net462" />
</packages>