<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdamsLair.WinForms" version="1.1.12" targetFramework="net461" />
  <package id="AdamsLair.WinForms.PopupControl" version="1.0.0.0" targetFramework="net461" />
  <package id="AutoCAD.NET" version="22.0.0" targetFramework="net462" />
  <package id="AutoCAD.NET.Core" version="22.0.0" targetFramework="net462" />
  <package id="AutoCAD.NET.Model" version="22.0.0" targetFramework="net462" />
  <package id="AutoCAD-2017.Net.Interop.x64" version="1.0.0" targetFramework="net462" />
  <package id="BizArk.Core" version="2.0.16" targetFramework="net461" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net462" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net462" />
</packages>